<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    <title>Order form</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
        <img src="/Asstes/Assignmnets/Assignment 11/Assets/Image/logo.jpg" alt="" width="25" height="25">
        <a href="" class="navbar-brand" style="font-size: 25px"> &nbsp;&nbsp;SHARU POS System</a>
        <div class="collapse navbar-collapse" id="divv">
            <ul class="navbar-nav" style="font-size: medium">
                <li class="nav-item"><a href="../view/ManageCutomerForm.html" class="nav-link">Customers</a></li>
                <li class="nav-item"><a href="../view/ManageItemForm.html" class="nav-link">Items</a></li>
                <li class="nav-item"><a href="../view/ManageOrderForm.html" class="nav-link">Orders</a></li>
                <li class="nav-item active"><a href="../view/ManagePlaceorderForm.html" class="nav-link">Place Order</a></li>
            </ul>
        </div>
    </nav>
</header>

<main class="container">
    <h2 class="text-success pt-5 m-lg-2 pb-3">Manage Orders</h2>
    <table class="table table-light table-striped">
        <thead>
        <tr>
            <th style="background-color: seagreen" scope="col">Order ID</th>
            <th style="background-color: seagreen" scope="col">Date</th>
            <th style="background-color: seagreen" scope="col">Customer ID</th>
            <th style="background-color: seagreen" scope="col">Item ID</th>
            <th style="background-color: seagreen" scope="col">Quantity</th>
            <th style="background-color: seagreen" scope="col">Discount</th>
            <th style="background-color: seagreen" scope="col">Total</th>
            <th style="background-color: seagreen" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">O001</th>
            <th scope="col">2023-05-17</th>
            <th scope="col">C001</th>
            <th scope="col">I001</th>
            <th scope="col">2</th>
            <th scope="col">100.00</th>
            <th scope="col">1900.00</th>
            <th scope="col">
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </th>
        </tr>

        </tbody>
    </table>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>

</body>
</html>